<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css" />
    <meta charset="UTF-8" />
    <title>Register</title>
  </head>
  <body>
    <div class="navbar">
      <div class="button"><a href="" class="nav-btn">Konto</a></div>
      <div class="button"><a href="" class="nav-btn">Szukaj</a></div>
      <div class="button"><a href="" class="nav-btn">Wiadomości</a></div>
      <div class="button"><a href="" class="nav-btn">Logowanie</a></div>
      <div class="button"><a href="" class="nav-btn">Rejestracja</a></div>
      <div class="button"><a href="" class="nav-btn">Wyloguj</a></div>
    </div>
    <div class="main">
      <div class="sidebar">
        <h2>Użytkownik</h2>
      </div>

      <div class="mainpage">
        <h2>Zarejestruj się</h2>
        <div th:if="${param.fail}" class="alert alert-success">
          Username or email already exists</div>
        <div class="register">
        <form method="POST" role="form" th:action="@{/register/save}" th:object="${user}">
          <div class="info">
            Imię:
            <input
              type="text"
              name="imie"
              placeholder="Podaj imię"
              class="form-in"
              th:field="*{userName}"
            />
          </div>
          <p th:if="${#fields.hasErrors('username')}" class="text-danger"></p>
          <div class="info">
          Nazwisko:
            <input
              type="text"
              name="nazwisko"
              placeholder="Podaj nazwisko"
              class="form-in"
              th:field="*{lastName}"
            />
          </div>
          <p th:if="${#fields.hasErrors('lastName')}" class="text-danger"></p></br>
          <div class="info">
            Płeć:
            <input type="radio" th:field="*{sex}" name="Płeć" value="Kobieta" />Kobieta
            <input type="radio" th:field="*{sex}" name="Płeć" value="Mężczyzna" />Mężczyzna </br>
          </div>          
          <div class="info">

            Nick:
            <input
              type="text"
              name="nick"
              placeholder="Podaj nick"
              class="form-in"
              th:field="*{nickName}"
            />
          </div>
          <div class="info">
            Email:
            <input
              type="email"
              name="email"
              placeholder="Podaj email"
              class="form-in"
              th:field="*{email}"
            />
          </div>
          <div class="info">
            Wiek:</br>
            <input type="radio" th:field="*{age}" name="Wiek" value="mniej niż 15">mniej niż 15<br>
            <input type="radio" th:field="*{age}" name="Wiek" value="15-19">15-19<br>
            <input type="radio" th:field="*{age}" name="Wiek" value="20-29">20-29<br>
            <input type="radio" th:field="*{age}" name="Wiek" value="30-39">30-39<br>
            <input type="radio" th:field="*{age}" name="Wiek" value="40-60">40-60<br>
            <input type="radio" th:field="*{age}" name="Wiek" value="więcej niż 60">więcej niż 60
          </div>
          </br>
          <div class="info">
            Kraj:
            <select th:field="*{country}">
              <option th:each="p: ${countryList}" th:value="${p}" th:text="${p}"Poland />
            </select>
            
          </div>
          <div class="info">
            Miasto:
            <input
              type="text"
              name="miasto"
              placeholder="Podaj miasto"
              class="form-in"
              th:field="*{city}"
            />
          </div>
          <div class="info">
            Języki:</br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Polski">Polski<br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Angielski">Angielski<br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Hiszpański">Hiszpański<br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Portugalski">Portugalski<br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Francuski">Francuski<br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Chiński">Chiński<br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Rosyjski">Rosyjski<br>
            <input type="checkbox" th:field="*{languages}" name="Muzyka" value="Niemiecki">Niemiecki</br>
          </div>
          <div class="info">
            Prześlij dowód:
            <input
              type="text"
              name="dowod"
              placeholder="Prześlij dowód"
              class="form-in"
              th:field="*{idNumber}"
            />
          </div>
          <div class="info">
            O sobie:</br>
            <textarea name="Komentarz" th:field="*{description}" cols="50" rows="10" placeholder="Napisz coś o sobie"></textarea>

          </div>
          <input type="submit" value="wyślij" class="btn-send" />
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
