<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
  <meta charset="UTF-8" />
  <title>Register</title>
</head>

<body>
<div class="navbar">
  <div class="button"><a href="" class="nav-btn">Konto</a></div>
  <div class="button"><a href="" class="nav-btn">Szukaj</a></div>
  <div class="button"><a href="" class="nav-btn">Wiadomości</a></div>
  <div class="button"><a href="" class="nav-btn">Logowanie</a></div>
  <div class="button"><a href="" class="nav-btn">Rejestracja</a></div>
  <div class="button"><a href="" class="nav-btn">Wyloguj</a></div>
</div>
<div class="main">
  <div class="sidebar">
    <h2>Użytkownik</h2>
  </div>

  <div class="mainpage">
    <h1>Rejestracja</h1>
      <div><h3>Użytkownik zarejestrowany!</h3></div>

  </div>
</div>
</body>
</html>
